

.countdown {
    margin-top: 20px;
    width: 400px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  

    h3 {
        font-weight: 500;
        

    }

    h2 {
        color: royalblue;
        font-weight: 700;
        
    }
}