
.digitalclock {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 80px;
    width: 300px;
    border: 1px solid black;

    h2 {
        align-items: center;
        font-size: 30px;
        font-weight: 500;
       
    }

}